/* Responsive */

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
      }
    
      @media only screen and (min-width: 600px) {
        /* For tablets: */
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
      }
    
      @media only screen and (min-width: 768px) {
        /* For desktop: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
      }
    * {
          box-sizing: border-box;
        }
        
        body {
          font-family: Arial, Helvetica, sans-serif;
          margin: 0;
        }
        
        /* Header */
    
        .header {
          overflow: hidden;
          background-color: #e4ebdf;
          padding: 0 1%;
        }
        
        .header a {
          float: left;
          color: black;
          text-align: center;
          padding: 12px;
          text-decoration: none;
          font-size: 18px; 
          line-height: 25px;
          border-radius: 4px;
        }
        
        .header .logo {
          width: 100px;
          float: left;
        }
        
        .header-right {
          float: right;
        }
        
        @media screen and (max-width: 768px) {
          .header a {
            float: none;
            display: block;
            text-align: left;
          }
        
          .header-right {
            margin-right: 0px;
          }
        }
    
        /* Search */
    
        .example {
          margin: 30px 200px;
        }
    
        form.example input[type=text] {
          padding: 10px;
          font-size: 17px;
          border: 1px solid #402620;
          float: left;
          width: 60%;
          background: #ffff;
          max-width:600px;
          margin: auto;
        }
        
        form.example button {
          float: left;
          width: 50px;
          padding: 10px;
          background: #402620;
          color: white;
          font-size: 17px;
          border: 1px solid #402620;
          border-left: none;
          cursor: pointer;
        }
        
        form.example button:hover {
          background: #D1A59B;
        }
    
        .fa.fa-search {
          width: 15px;
        }
    
        .icon {
          float: right;
        }
    
        .icono {
          width: 35px;
          margin: 5px 10px 0 0;
        }
    
      /* Selector de idiomas */
    
    .dropdown {
      float: left;
      overflow: hidden;
      margin: 0 40px 0 0;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: #402620;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: #402620;
      color: white;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: #402620;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color: #D1A59B;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .fa.fa-caret-down {
      width: 10px;
    }

    /* PASARELA DE PAGO*/
    
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    
    .col-25 {
      flex: 25%;
    }
    
    .col-50 {
      flex: 50%;
    }
    
    .col-75 {
      flex: 75%;
    }
    
    .col-25,
    .col-50,
    .col-75 {
      padding: 0 50px;
    }
    
    .seguridad {
        width: 300px;
        float: right;
      }

    /* Botones */
    
    a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
      border-radius: 3px;
      cursor: pointer;
    }
    
    a:hover {
      background-color: #D1A59B;
      color: black;
    }
    
    .previous {
      background-color: #f1f1f1;
      color: grey;
      float: left;
      margin: 0 0 50px 200px;
    }
    
    .next {
      background-color: #402620;
      color: white;
      float: right;
      margin: 0 200px 0 50px;
    }
    
    /* Step */
    
    .navbar {
      width: 80%;
      background-color: #eee;
      overflow: auto;
      margin: 0 0 20px 150px;
    }
    
    .navbar h2 {
      float: left;
      margin: 0;
    }
    
    .navbar p {
      margin: 5px 0 0 0;
    }
    
    .navbar a {
      float: left;
      color: black;
      text-decoration: none;
      width: 33.33%;
      text-align: center;
      border: 1px solid lightgrey;
    
    }
    
    .navbar a.active {
      background-color: #D1A59B;
    }
    
    /* Footer */
    
      .footer {
        background-color: #e4ebdf;
        color: black;
        text-align: center;
        font-size: 12px;
        padding: 15px;
      }
      
      .iconof {
        width: 25px;
      }
    
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
      
      [class*="col-"] {
        float: left;
      }

    .politica {
      text-decoration: none;
      color: black;
    }